
// Variables
$cTextMain: #666;

// Mixins
@mixin centerPage() {
  margin: 0 auto;
  width: 1000px;
}


// Built-in tags
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0 10px;
  background: #F5F5F1;
  color: $cTextMain;
  font-size: 12px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h3 {
  font-size: 13px;
  margin: 1px 0 6px;
}

h4 {
  font-size: 13px;
  line-height: 13px;
  padding-bottom: 6px;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #0192b5;
}

a:hover {
  text-decoration: underline;
}

input[type="radio"], input[type="checkbox"] {
  margin: 6px 8px 6px 0;
}


// Page consists of header and container
// container consists of aside, section.main, and footer
header {
  height: 80px;
  margin-left: -10px;
  margin-right: -10px;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
  nav {
    @include centerPage();
    // overflow: hidden;
    .nav-left {
      overflow: hidden;
      .logo {
        float: left;
        margin-top: 25px;
        // vertical-align: -17px;
      }
      .search {
        float: left;
        width: 455px;
        margin: 24px 0 0 15px;
        overflow: hidden;
        .search-box {
          float: left;
          width: 260px;
          padding: 6px 10px;
          margin-right: -5px;
          background: #FBFBFA;
          // outline: none;
          font-size: 14px;
        }
        button, .browse {
          float: left;
          height: 34px;
          line-height: 17px;
          padding: 7px 15px 8px;
          border: 1px solid;
          border-radius: 3px;
          font-size: 15px;
        }
        button {
          width: 85px;
          background: #3f98bb;
          border-color: #54acc7 #4ca0ba #398a9d;
          border-radius: 0 3px 3px 0;
          color: white;
        }
        .browse {
          float: right;
          width: 100px;
          margin-left: 15px;
          border-color: #bbb;
          cursor: pointer;
        }
      }
    }
    .nav-right {
      float: right;
      width: 260px;
      ul {
        margin-top: -40px;
        li {
          float: left;
          padding: 8px;
          color: #0192B5;
          font-size: 15px;
        }
        .sign-in {
          border: 1px solid;
          border-radius: 3px;
        }
        .cart {
          margin: -12px 0 0 20px;
          padding-left: 15px;
          border-left: 1px solid #ddd;
          color: $cTextMain;
          text-align: center;
          font-size: 12px;
          .fa {
            display: block;
            font-size: 22px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.container {
  @include centerPage();
  padding: 25px 0;
  overflow: hidden;
}

aside {
  float: left;
  // margin-right: 0px;
  .sidebar {
    float: left;
    width: 224px;
    margin-top: 5px;
    padding: 14px;
    background: white;
    color: #0192b5;
    font-size: 13px;
    h4, .price-filter, .ship-to {
      border-top: 1px solid #dfdfdf;
      margin-top: 15px;
      padding-top: 15px;
      color: $cTextMain;
    }
    h4:first-child {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }
    .price-filter {
      input, button {
        height: 35px;
        border-radius: 3px;
      }
      input {
        width: 60px;
        margin-right: 5px;
      }
      button {
        width: 40px;
        background: #eee;
        border-color: #cbcbcb;
      }
    }
    .color-filter {
      overflow: hidden;
      li {
        float: left;
        width: 20px;
        height: 20px;
        margin: 5px 4px 5px 0;
        border: 1px solid #bbb;
        border-radius: 3px;
      }
      .red {
        background: #F40B32;
      }
      .orange {
        background: #FF7F00;
      }
      .yellow {
        background: #F3CC0C;
      }
      .green {
        background: #0AC20A;
      }
      .cyan {
        background: #0CCCF3;
      }
      .purple {
        background: #A60CF3;
      }
      .black {
        background: black;
      }
    }
    .shop-location {
      margin-top: 12px;
    }
    .ship-to {
      width: 194px;
      height: 34px;
      overflow: hidden;
      background: none;
      h4 {
        float: left;
      }
      div {
        float: right;
      }
    }
  }
  .selected {
    font-weight: 700;
    color: $cTextMain;
  }
}

section.main {
  float: left;
  width: 776px;
  .search-header {
    overflow: hidden;
    margin-bottom: 7px;
    padding-left: 28px;
    line-height: 18px;
    .search-title {
      float: left;
      .search-word {
        font-weight: 700;
      }
    }
    .search-sort {
      float: right;
    }
  }

  .listing {
    display: inline-block;
    width: 232px;
    // height: 300px;
    margin: 0 0 18px 24px;
    border: 4px solid white;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    background: white;
    overflow: hidden;
    img {
      width: 224px;
      height: 170px;
    }
    .listing-description {
      width: 100px;
      height: 14px;
      padding: 2px;
      overflow: ellipsis;
      white-space: nowrap;
    }
    .listing-info {
      padding: 10px 2px;
      margin-bottom: 12px;
      .listing-source {
        float: left;
      }
      .listing-price {
        float: right;
      }
      .listing-currency {
        margin-left: 3px;
      }
    }
  }
}


