
// Variables
$cTextMain: #666;
$cTextBrand: #0192b5;
$cButtonPrimary: #59AFCA;
$cButtonPrimaryHover: #429ABD;

// Mixins
@mixin centerPage() {
  margin: 0 auto;
  width: 1000px;
}

@mixin roundBorder() {
  border: 1px solid;
  border-radius: 3px;
}

@mixin buttonPrimary() {
  padding: 7px 15px 8px;
  border: 1px solid $cButtonPrimary;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  background: $cButtonPrimary;
  cursor: pointer;
  &:hover {
    background: $cButtonPrimaryHover;
  }
  a {
    text-decoration: none;
  }
}


// Built-in tags
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0 10px;
  background: #F5F5F1;
  color: $cTextMain;
  font-size: 12px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h3 {
  font-size: 13px;
  margin: 1px 0 6px;
}

h4 {
  font-size: 13px;
  line-height: 13px;
  padding-bottom: 6px;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: $cTextBrand;
}

a:hover, label:hover {
  text-decoration: underline;
}

input[type="radio"], input[type="checkbox"] {
  margin: 6px 8px 6px 0;
}


// Page consists of header and container
// container consists of aside, section.main, and footer
header {
  height: 80px;
  margin-left: -10px;
  margin-right: -10px;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
  nav {
    @include centerPage();
    .nav-left {
      overflow: hidden;
      .logo {
        float: left;
        margin-top: 25px;
      }
      .search {
        float: left;
        width: 445px;
        margin: 24px 0 0 15px;
        overflow: hidden;
        input.search-box {
          float: left;
          width: 260px;
          padding: 7px 10px;
          margin-right: -5px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          background: #FBFBFA;
          // outline: none;
          font-size: 14px;
        }
        button, .browse {
          float: left;
          height: 34px;
          line-height: 17px;
          padding: 7px 10px 8px;
          @include roundBorder();
          font-size: 15px;
        }
        button {
          width: 85px;
          background: $cButtonPrimary;
          border-color: $cButtonPrimary;
          border-radius: 0 3px 3px 0;
          color: white;
          &:hover {
            background: $cButtonPrimaryHover;
          }
        }
        .browse {
          float: right;
          width: 90px;
          margin-left: 15px;
          border-color: #ddd;
          cursor: pointer;
          &:hover {
            border-color: #c0c0c0;
          }
          &:hover .fa {
            color: #888;
          }
          .fa {
            color: #bbb;
          }
        }
      }
    }
    .nav-right {
      float: right;
      width: 260px;
      ul {
        margin-top: -40px;
        li {
          float: left;
          padding: 8px;
          color: #0192B5;
          font-size: 15px;
        }
        .sign-in {
          @include roundBorder();
          cursor: pointer;
          &:hover {
            background-color: #F0FBFD;
          }
        }
        .cart {
          margin: -12px 0 0 20px;
          padding-left: 15px;
          border-left: 1px solid #ddd;
          color: $cTextMain;
          text-align: center;
          font-size: 12px;
          &:hover {
            color: black;
          }
          .fa {
            display: block;
            font-size: 22px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.container {
  @include centerPage();
  padding: 25px 0;
  overflow: hidden;
}

.selected {
  color: $cTextMain;
  font-weight: 700;
}

aside {
  float: left;
  .sidebar {
    float: left;
    width: 224px;
    margin-top: 5px;
    padding: 14px;
    background: white;
    color: $cTextBrand;
    font-size: 13px;
    h4, .price-filter, .ship-to {
      border-top: 1px solid #dfdfdf;
      margin-top: 15px;
      padding-top: 15px;
      color: $cTextMain;
    }
    h4:first-child {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }
    .categories li {
      margin: 6px 0 6px 10px;
    }
    .price-filter {
      input, button {
        height: 35px;
        @include roundBorder();
        border-color: #ccc;
      }
      input {
        width: 60px;
        margin-right: 5px;
        padding: 10px;
        font-size: 14px;
      }
      button {
        width: 47px;
        background: #F3F3F2;
        border-color: #cbcbcb;
        font-size: 22px;
        padding-left: 3px;
        &:hover {
          background: #EBEBEA;
        }
      }
    }
    .color-filter {
      overflow: hidden;
      li {
        float: left;
        width: 20px;
        height: 20px;
        margin: 5px 4px 5px 0;
        @include roundBorder();
        border-color: #bbb;
      }
      .red {
        background: #F40B32;
      }
      .orange {
        background: #FF7F00;
      }
      .yellow {
        background: #F3CC0C;
      }
      .green {
        background: #0AC20A;
      }
      .cyan {
        background: #0CCCF3;
      }
      .purple {
        background: #A60CF3;
      }
      .black {
        background: black;
      }
    }
    .shop-location {
      margin-top: 12px;
    }
    .ship-to {
      width: 194px;
      height: 34px;
      overflow: hidden;
      background: none;
      h4 {
        float: left;
      }
      div {
        float: right;
      }
    }
  }
  .selected {
    font-weight: 700;
    color: $cTextMain;
  }
}

section.main {
  float: left;
  width: 776px;
  .search-header {
    overflow: hidden;
    margin-bottom: 7px;
    padding-left: 28px;
    line-height: 18px;
    font-size: 13px;
    .search-title {
      float: left;
      .search-word {
        font-weight: 700;
      }
    }
    .search-sort {
      float: right;
      cursor: default;
      .sort-by {
        color: $cTextBrand;
        cursor: pointer;
      }
      .fa {
        color: #ccc;
      }
    }
  }

  .listing {
    display: inline-block;
    width: 232px;
    // height: 300px;
    margin: 0 0 18px 24px;
    border: 4px solid white;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    background: white;
    overflow: hidden;
    img {
      width: 224px;
      height: 170px;
    }
    .listing-description {
      width: 100px;
      height: 14px;
      padding: 2px;
      overflow: ellipsis;
      white-space: nowrap;
    }
    .listing-info {
      padding: 10px 2px;
      margin-bottom: 12px;
      .listing-source {
        float: left;
      }
      .listing-price {
        float: right;
      }
      .listing-currency {
        margin-left: 3px;
      }
    }
  }
}

footer {
  clear: both;
  .upper-footer {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    >div {
      width: 150px;
      float: left;
      margin-right: 50px;
      h4 {
        font-weight: 400;
        padding-bottom: 0;
        line-height: 18px;
      }
      .embedded-heading {
        margin-top: 25px;
      }
      .button-primary {
        @include buttonPrimary;
        margin: 5px 45px 5px 0;
        font-weight: normal;
        padding: 4px 11px;
        font-size: 13px;
        a {
          color: white;
        }
      }
      p {
        margin: 12px 0;
      }
      i {
        margin: 7px 7px 0 0;
        font-size: 16px;
      }
    }
  }
  .lower-footer {
    .locale {
      width: 420px;
      margin: 0 auto;
      padding: 30px 20px;
      overflow: hidden;
      div {
        float: left;
        height: 32px;
        line-height: 32px;
        margin-right: -1px;
        padding: 0 10px;
        border: 1px solid #e2e2e2;
        cursor: pointer;
        .fa {
          position: relative;
          top: 2px;
          left: -2px;
          font-size: 18px;
          margin-right: 5px;
        }
        &:hover {
          background: #CCE9F0;
          color: #0192B5;
        }
        &:last-child {
          float: right;
          @include buttonPrimary;
          a {
            color: white;
          }
        }
      }
    }
    nav {
      text-align: center;
      span {
        color: #999;
        a {
          margin: 0 10px;
          color: $cTextMain;
        }
      }
    }
  }
}


